.page #image-video-transition {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .5);
}

.page #image-video-transition .carousel-item {
    transition-duration: 5s;
}

.page #image-video-transition .caption-body {
    margin-top: -2rem;
    background: linear-gradient(to top, #000 0, #000 75%, transparent 100%);
    flex: 1 1 auto;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.page #image-video-transition .caption-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: calc(21px + 1rem);
    z-index: 1;
    color: #fff;
    background: linear-gradient(to top, #000 0, #0000 75%);
    align-items: flex-end;
}

.page #image-video-transition .caption-overlay .card-text {
    font-weight: 900;
    font-size: 18px;
    line-height: 1.3;
    font-family: halyard-micro;
    width: 100%;
}

.page #image-video-transition .button-list {
    position: absolute;
    right: calc(21px + 1rem);
    bottom: calc(21px + 1rem);
    z-index: 1;
}

@media (min-width:768px) {
    .page #image-video-transition .caption-overlay .card-text {
        font-size: 22px;
        width: calc(100% - 52px);
    }
}

@media (min-width:992px) {
    .page #image-video-transition .caption-overlay .card-text {
        font-size: 32px;
    }
}

@media (min-width:1200px) {

    .page #image-video-transition .caption-overlay {
        padding: calc(21px + 1.5rem);
    }

    .page #image-video-transition .caption-overlay .card-text {
        font-size: 38px;
    }

    .page #image-video-transition .play-pause {
        right: calc(21px + 1.5rem);
        bottom: calc(21px + 1.5rem);
    }
}

@media (min-width:1400px) {
    .page #image-video-transition .caption-overlay .card-text {
        font-size: 40px;
    }
}