.page #image-video-transition .carousel-item {
    transition-duration: 5s;
}

.page #image-video-transition .caption-body {
    margin-top: -2rem;
    background: linear-gradient(to top, #000 0, #000 75%, transparent 100%);
    flex: 1 1 auto;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

.page #image-video-transition .caption-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: calc(21px + 1rem);
    z-index: 1;
    color: #fff;
    background: linear-gradient(to top, #000 0, #0000 50%);
    align-items: flex-end;
}

.page #image-video-transition .caption-overlay .card-text {
    font-weight: bold;
    font-size: 1.05rem;
    line-height: 1.2;
    width: 66%;
}

.page #image-video-transition .button-list {
    position: absolute;
    right: calc(21px + 1rem);
    bottom: calc(21px + 1rem);
    z-index: 1;
}

@media (min-width:768px) {
    .page #image-video-transition .caption-overlay .card-text {
        font-size: 1.45rem;
    }
}

@media (min-width:992px) {
    .page #image-video-transition .caption-overlay .card-text {
        font-size: 1.95rem;
    }
}

@media (min-width:1200px) {

    .page #image-video-transition .caption-overlay {
        padding: calc(21px + 1.5rem);
    }

    .page #image-video-transition .caption-overlay .card-text {
        font-size: 2.25rem;
    }

    .page #image-video-transition .play-pause {
        right: calc(21px + 1.5rem);
        bottom: calc(21px + 1.5rem);
    }
}

@media (min-width:1400px) {
    .page #image-video-transition .caption-overlay .card-text {
        font-size: 2.5rem;
    }
}