.tab-pane {
    animation: fadeEffect 0.6s;
    display: none;
    /* Fading effect takes 1 second */
}

.tab-pane.active {
    display: block;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#media-slider-container .splide__slide button {
    height: 100%;
    padding: 0;
    padding: .25rem;
}

#media-slider-container .splide__slide button img {
    height: 100%;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .5);
}

#media-slider-container .splide__slide button.selected img {
    opacity: 0.5;
}

#media-slider-container .splide .btn-arrow {
    display: none;
}