.mirador-viewer-frame {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.mirador-viewer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* reset admin header styles */
.mirador-viewer header {
    min-height: initial;
    padding: initial;
    text-align: initial;
}

/* reset admin button styles */
.mirador-viewer button {
    box-shadow: initial;
}

.mirador-viewer button:not(.MuiTab-root) {
    min-height: initial;
}

.mirador-viewer .openseadragon-canvas:before {
    content: "";
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    border: 0.25em solid currentcolor;
    border-right-color: transparent;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
    z-index: 0;
}

.mirador-viewer .MuiTypography-colorPrimary {
    color: #0036f9;
}

.mirador-viewer button.MuiButtonBase-root.MuiIconButton-root[aria-label="Toggle sidebar"] svg path {
    d: path('M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z') !important;
}

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}