.pdfobject-container {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.pdfobject-container:before {
  display: block;
  content: "";
  padding-top: 140%;
}

.pdfobject {
  border: solid 1px #666;
}

#results {
  padding: 1rem;
}

.hidden {
  display: none;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.fail {
  color: #D8000C;
  background-color: #FFBABA;
}
